.side-bar{
   
    width: 400px;
    position: absolute;
    height: 100vh;
    
    
   
}
.inner-wrap{
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    min-height: 800px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.side-nav{
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    min-height: 750px;
    
}
.links-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.sidebar-link{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 20px 10px;
    border-radius: 8px;
}
.sidebar-link:hover{
    background-color: #f0f6fe;
}

