.container{
    width: 100vw;
}

.bottom{
    position: relative;
    height: calc(100vh - 90px);
    
}
.children{
    width: calc(100vw - 400px);
    margin-left: 400px;
    padding-top: 30px;
    padding-right: 1.25rem;
    
    /* padding: 5px 30px 0 30px; */
}