@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0F2F5;
  overscroll-behavior: none;
  width: 100vw;
  
}
@layer utilities{

  .sidebar{
    @apply w-[350px] h-screen bg-white border-gray-200;
  }
  
  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center ;
  }
  
  .sidebar-label {
    @apply  font-semibold text-gray-100;
  }
  .header-right-nav-link{
    @apply flex flex-col items-center gap-1 items-center ;
  }
  .header-text {
    @apply text-[10px] text-gray-100
  }
  .modal-form-input{
    @apply border border-[#d0d5dd] rounded font-light text-xs mt-0;
  }
  .modal-form-label{
    @apply text-[#475367] text-[11px] font-normal;
  }
}